.App {
  --shadow: 2px 8px 20px -2px #777;

  padding-block: 40px;
}

.pokemonCardContainer {
  padding-inline: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  align-items: stretch;
  gap: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.buttons>* {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: cornflowerblue;
  padding-block: 0.25em;
  padding-inline: 1em;
  border: none;
  border-radius: 5px;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: translateY(2.5px);
    background-color: slateblue;
    box-shadow: none;
  }
}